<template>
    <div class="container">
        <template>

            <table id="slider_table">
                <tr>
                    <td id="left_price"> </td>
                    <td v-if="tableVariable.value[1] != 0">
                        <el-slider
                            v-model="tableVariable.value"
                            range
                            show-stops
                            :min="0"
                            :max="maxRange"
                            @input="changeSlider"
                        >
                        </el-slider>
                    </td>
                    <td id="right_price"> </td>
                </tr>
            </table>

            <el-input placeholder="Please input" v-model="tableVariable.search" class="input-with-select">
                <el-select v-model="tableVariable.select" slot="prepend" placeholder="Select">
                    <el-option
                        v-for="(name,index) in tableVariable.selectRange"
                        :key="index"
                        :label="name"
                        :value="name == 'select search' ? '' : name"
                    >
                        {{name}}
                    </el-option>
                </el-select>
                <el-button @click="loadHouse" slot="append" icon="el-icon-search"></el-button>
            </el-input>

            {{this.tableVariable.select}}

            <el-table :data="tableData" style="width: 100%">
                <el-table-column
                    prop="name"
                    label="Name"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="price"
                    label="Price"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="bedroom"
                    label="Bedroom"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="bathroom"
                    label="Bathroom"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="storey"
                    label="Storey"
                    width="180">
                </el-table-column>
                <el-table-column
                    prop="garage"
                    label="Garage"
                    width="180">
                </el-table-column>
            </el-table>
        </template>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                tableData: [],
                tableVariable: {
                    search: '',
                    select: '',
                    selectRange: ['select search', 'name', 'bedroom', 'bathroom', 'storey', 'garage'],
                    value: [0, 0]
                },
                max_price: 0,
                right_td: '',
                left_td: '',
                maxRange: 0,
            }
        },
        methods: {
            initialSlider() {
                this.loadHouse();
            },
            initialData() {
                // диапозон ползунка
                this.maxRange = this.max_price >= 1000 ? 1000 :
                    this.max_price >= 100 ? 100 :
                        this.max_price >= 10 ? 10 : 0;
                // максимальная цена slider
                this.tableVariable.value[1] = this.max_price;
                // отобразить цены
                this.right_td = document.getElementById("right_price");
                this.right_td.textContent = this.right_td.textContent == '' ? this.max_price : this.right_td.textContent;
                this.left_td = document.getElementById("left_price");
                this.left_td.textContent = this.left_td.textContent == '' ? 0 : this.left_td.textContent;
            },
            changeSlider() {
                this.left_td.textContent = Math.ceil((this.max_price / this.maxRange) * this.tableVariable.value[0]);
                this.right_td.textContent = Math.ceil((this.max_price / this.maxRange) * this.tableVariable.value[1]);
            },
            async loadHouse() {
                try {
                    let left_text = document.getElementById("left_price").textContent;
                    left_text = left_text == '' ? 0 : left_text;
                    let right_text = document.getElementById("right_price").textContent;
                    right_text = right_text == '' ? 999999999 : right_text;

                    await $.ajax({
                        url     : `/api/house?select=${this.tableVariable.select}&search=${this.tableVariable.search}&value=${[left_text,right_text]}`,
                        type    : 'GET',
                        data    : {},
                        dataType: 'json',
                        success : ( data ) => {
                            if(data.success == true){
                                this.tableData = data.data.houses.list;
                                this.max_price = data.data.houses.max_price;
                                this.initialData();
                            }
                        },
                        error: function( error ) {
                            console.log(error);
                        }
                    });

                } catch (e) {
                    console.log(e);
                }
                this.isLoading = false;
            },
        },
        mounted() {
            this.initialSlider();
        }
    }
</script>

<style lang="scss" scoped>
    #slider_table {
        width: 100%;
        margin-bottom: 10px;

        & tr td:nth-child(1) {
            width: 5%;
            border: 1px solid #e4e4e4;
            text-align: center;
        }
        & tr td:nth-child(2) {
            width: 90%;
            padding: 0px 10px;
        }
        & tr td:nth-child(3) {
            width: 5%;
            border: 1px solid #e4e4e4;
            text-align: center;
        }
    }




</style>
